$black: #222;
$trib-yellow: #ffcc20;
$font: 'Roboto', sans-serif;

* {
  font-family: $font;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {

  &__block {
    display: block;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
    color: $black;

    &--hed {
      @extend .header__block;
      background-color: $trib-yellow;
      padding: 50px 15px;
      text-align: center;
    }

    &--sub {
      @extend .header__block;
      margin-top: 30px;
    }
  }

  &__headline {
    font-size: 48px;
    font-weight: 700;
  }

  &__sub {
    font-size: 28px;
    margin-top: 10px;
    font-weight: 400;
  }
}

.preferences {
  max-width: 1000px;
  margin: 50px auto 0 auto;
  padding: 0 15px;

  &__header {
    font-size: 28px;
    margin-bottom: 10px;
  }

  &__link {
    display: block;
    margin: 70px auto 0 auto;
    background-color: $trib-yellow;
    width: 300px;
    text-align: center;
    color: $black;
    text-decoration: none;
    padding: 30px;
    font-size: 30px;
    border-radius: 2px;
    border: 2px solid $trib-yellow;

    &:hover {
      background-color: #FFF;
    }
  }
}

.preference {
  margin-top: 80px;

  &__header {
    font-size: 28px;
    margin-bottom: 10px;
  }

  &__button {
    background-color: $trib-yellow;
  }
}

.slider {
  max-width: 500px;
  margin: 0 auto;
}

.rangeslider__label {
  margin-top: 30px;
  text-transform: uppercase;
}

.topic {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;

  &__header {
    font-size: 48px;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 3px solid $trib-yellow;
  }

  &__newsflash {
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: red;
    margin-bottom: 5px;
  }
}

.article {
  &__headline {
    font-size: 32px;
    margin-top: 30px;
  }

  &__excerpt {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
  }

  &__org {
    margin-top: 5px;
    padding: 5px 10px;
    background-color: $black;
    display: inline-block;
    color: #FFF;
    font-size: 20px;
  }

  &__more {
    text-transform: uppercase;
    margin-top: 10px;
    color: $trib-yellow;
    font-size: 18px;
    font-weight: 700;
  }
}

.vote {
  max-width: 1000px;
  margin: 100px auto 0 auto;
  padding: 0 15px;

  &__header {
    font-size: 32px;
    padding-top: 15px;
    border-top: 3px solid $trib-yellow;
  }
}

.results {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;

  &__header {
    font-size: 32px;
    padding-top: 15px;
    text-align: center;
    margin-bottom: 20px;
  }

  &__summary {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    line-height: 160%;
  }

  &__keyPoints {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 160%;

    li {
      margin-top: 10px;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  rect {
    fill: $trib-yellow;
  }
}
